.App {
  text-align: center;
}

.container {
  margin: 20px auto;
  position: relative;
  height: 500px;
  width: 600px;
  overflow: hidden;
}

button{
  position: relative;
  z-index: 10;
}

/* .mindar-ui-overlay {
  z-index: -1 !important;
} */